{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui container">
  <div id="preference-box" class="ui segment container grid">
    <div class="two wide column">
    </div>
    <div class="nine wide column">
      <br>
      <h4 class="ui header">
	Food Expert is an Expert system that gives you sugestions depending upon your preferences.
	This project uses Django for UI and Clips for expert system.
	Project made by Samyak(B17CS046) and Abinish(B17CS002).
	 
      </h4>
    </div>
    <div class="four wide column">
    </div>
  </div>

</div>
{% endblock %}
